* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.btn {
  border: none;
  font-weight: bold;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.103);
          box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.103);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.7;
}

.intro {
  background-image: url("./img/bg-hero-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header button {
  padding: 0.5rem 2rem;
  background-color: white;
  color: #00252e;
}

.logo {
  height: 25px;
}

.intro__content {
  margin-top: 4rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__content > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content__text {
  margin-right: 4rem;
  color: #00252e;
}

.content__text > * {
  margin-bottom: 2rem;
}

.content__text h1 {
  font-size: 2rem;
}

.content__text button {
  padding: 1rem 3rem;
  background-color: #ff52bf;
  color: white;
  width: 50%;
}

.content__img img {
  width: 100%;
}

.main-content {
  padding: 10rem 4rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10rem;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.219);
          box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.219);
  margin-bottom: 2rem;
  padding: 4rem;
  border-radius: 5px;
}

.rev-card {
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.rev-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.rev-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.card__text h2 {
  margin-bottom: 1rem;
}

.card__text p {
  color: #808d99;
}

.card__img img {
  width: 100%;
  height: 100%;
}

footer {
  position: relative;
  background-color: #00252e;
  color: #ebfbff;
}

footer > p {
  text-align: right;
  margin-top: 4rem;
  padding-right: 1rem;
}

.foot-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0rem 2rem;
  width: 70%;
  margin: auto;
}

.foot-content > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.info-item img {
  margin-right: 1rem;
}

.links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media > * {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
  width: 40px;
  text-align: center;
}

.social-media > *:hover {
  color: #ff52bf;
  border-color: #ff52bf;
}

.stick {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 2rem 6rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.233);
          box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.233);
}

.stick h2 {
  color: #00252e;
  margin-bottom: 1rem;
}

.stick button {
  background-color: #ff52bf;
  width: 80%;
  padding: 1rem 2rem;
  color: #ebfbff;
}

@media screen and (max-width: 1000px) {
  .content__text button {
    width: 100%;
  }
  .main-content {
    padding: 6rem 1rem;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 1rem;
  }
  .intro__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .content__text {
    text-align: center;
    margin: 0;
  }
  .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
  .card__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rev-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rev-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer > p {
    text-align: center;
    padding: 0;
  }
  .foot-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .links {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: baseline;
  }
  .links > * {
    margin-bottom: 1rem;
  }
  .stick {
    text-align: center;
    padding: 2rem;
    left: 20px;
    right: 20px;
    width: 90%;
  }
}
